.header {
  background-color: rgb(113, 76, 148);
  color: whitesmoke;
}

body {
  background-color: #ffffff;
}

.header1 {
  background-color: rgb(113, 76, 148);
  color: whitesmoke;
}

.box {
  background-color: whitesmoke;
  width: 400px;
  border: 2px solid rgb(113, 76, 148);
  margin: 2% 35%;
}

.fullList {
  margin: 2% 35%;
  width: 400px;
}

.layout {
  background-color: whitesmoke;
  color: black;
  margin: 10% 10%;
}

.input {
  width: 80%;
  font-size: 110%;
  height: 20px;
  margin: 0 0 5px 0;
  border: 2px solid rgb(113, 76, 148);
}

.input:hover {
  background-color: #dfe3ee;
}

.button {
  font-size: 100%;
  margin: 0 0 5px 0;
  width: 80px;
  height: 40px;
  background-color: white;
  color: black;
  border: 2px solid rgb(113, 76, 148);
  cursor: pointer;
}

.button:hover {
  background-color: rgb(113, 76, 148);
  border: none;
  color: white;
}

.button1 {
  font-size: 200%;
  margin: 0 0 5px 500px;
  width: 40px;
  height: 40px;
  background-color: white;
  color: black;
  border: 2px solid rgb(113, 76, 148);
  cursor: pointer;
  border-radius: 50%;
}

.button2 {
  font-size: 100%;
  background-color: white;
  color: black;
  cursor: pointer;
}

.button3 {
  background-color: white;
  cursor: pointer;
  margin: 10px;
}

.button3:hover {
  background-color: rgb(113, 76, 148);
  color: white;
}

.button2:hover {
  background-color: rgb(113, 76, 148);
  color: white;
}

.list {
  background-color: whitesmoke;
  color: black;
  width: 400px;
  border: 2px solid white;
}

table {
  width: 500px;
}

tr {
  width: 25px;
}

.list1 {
  height: 50px;
  padding: 10px 20px;
}
